version: "3.2"

services:

  nginx-proxy:
    image: jwilder/nginx-proxy:alpine
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  platform-api:
    image: node:8-alpine
    depends_on:
      - rabbitmq
      - memcached
    environment:
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672
      VIRTUAL_HOST: api.nova.local.net
      VIRTUAL_PORT: 3000
    working_dir: /code
    volumes:
      - .:/code
    command: tail -F -n0 /etc/hosts
    expose:
      - 3000

  platform-web:
    image: node:8-alpine
    depends_on:
      - rabbitmq
    environment:
      VIRTUAL_HOST: platform.nova.local.net
      VIRTUAL_PORT: 8043
    volumes:
      - $PWD/node_modules:/code/node_modules:ro
      - $PWD/public:/code/public:ro
      - $PWD/server-static.js:/code/server-static.js:ro
    command: node /code/server-static.js
    expose:
      - 8043

  memcached:
    image: library/memcached:1.5-alpine
    ports:
      - 11211:11211

  rabbitmq:
    image: rabbitmq:3.6-management-alpine
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      VIRTUAL_HOST: rabbitmq.nova.local.net
      VIRTUAL_PORT: 15672
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
