body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
header, section {
  max-width: 900px;
  margin: 0;
  padding: 0;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
header {
  background: #e0e0eb;
  border-radius: 5px;
  padding: 10px;
}
section {
  padding: 10px;
  background: #f0f0f5;
  border-radius: 5px;
  padding: 10px;
}
h1 {
  font-family: 'Montserrat', verdana, sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #666699;
}
h2 {
  font-family: 'Montserrat', verdana, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #666699;
}
h3 {
  font-family: 'Montserrat', verdana, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
p, li {
  font-family: 'Montserrat', verdana, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-radius: 5px;
  border: solid #f0f0f5 2px;
}
li {
  padding: 5px;
  border: none;
}
